body {
    margin: 0;
    font-family:  Georgia, Arial, sans-serif;
    background-color: #f9f9f9;    
    
}

body::after {
    content: "";
    background-image: url("imgs/enlacequimicobackground.png");
    background-repeat: repeat;
    background-size: 400px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    z-index: -1;
}

.logo img,
.logo span {
    height: 35px; /* Ajusta este valor según tu preferencia */
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.logo img{
    filter: brightness(0) invert(1); /* Cambia el color de la imagen a blanco */
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

header {
    background-color: #232931;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 80px;
}

main h1 {
    text-align: center;
    margin-bottom: 50px;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block {
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 230px;
    width: calc(100% - 40px);
    background-color: #232931;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}
.block:hover {
    /* Redimensiona ligeramente el bloque al pasar el cursor */
    transform: scale(1.05);
    /* Cambia la sombra del bloque al pasar el cursor */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}


.block .image {
    width: 300px; /* Puedes ajustar este valor según tus preferencias */
    height: auto;
    margin-right: 20px;
}

.block .content {
    text-align: center;
    flex: 2;
    line-height: 1.5;
}

.block img {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}

footer {
    background-color: #232931;
    color: #fff;
    padding: 20px 0;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer h3 {
    margin: 0;
}

footer .contact a,
footer .share a {
    color: white; /* Cambiar color del texto a blanco */
    text-decoration: none; /* Quitar subrayado */
}

header nav ul li a,
footer .container a {
    position: relative;
    overflow: hidden;
}

header nav ul li a::after,
footer .container a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

header nav ul li a:hover::after,
footer .container a:hover::after {
    transform: scaleX(1);
}

.separador {
    margin: 40px auto;
    height: 2px;
    width: 100%;
    background-color: #1a74b1;
}

.contenedor-principal {
    background-color: #232931;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    margin-left: 250px; /* Ajusta el margen izquierdo para dar espacio al índice */
    margin-top: 100px; /* Ajusta la separación del índice desde la parte superior */
}

.indice {
    position: fixed;
    top: 20%; /* Ajusta la posición vertical del índice */
    left: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    z-index: 1000;
}

.indice h2 {
    color: #fff;
}

.indice ul {
    list-style: none;
    padding: 0;
}

.indice ul li {
    margin-bottom: 10px;
}

.indice ul li a {
    color: #fff;
    text-decoration: none;
}

.indice ul li a:hover {
    text-decoration: underline;
}

.contenido p {
    text-align: justify;
    line-height: 1.5; 
}

.slider-container {
    position: relative;
    max-width: 100%; /* Ajusta el ancho máximo según sea necesario */
    overflow: hidden; /* Oculta el contenido que se desborda */
}

.slider {
    display: flex;
}

.slide {
    flex: 0 0 auto; /* No crecerá ni se encogerá, pero mantendrá su tamaño */
    width: 100%; /* Ocupará todo el espacio disponible */
    text-align: center; /* Centra la imagen */
}

.slide p {
    position: absolute; /* Posición absoluta para superponer el texto sobre la imagen */
    bottom: 10px; /* Distancia desde la parte inferior del slide */
    left: 50%; /* Centra horizontalmente el texto */
    transform: translateX(-50%); /* Centra el texto horizontalmente */
    background-color: rgba(43, 41, 41, 0.7); /* Color de fondo semi-transparente */
    padding: 5px 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 14px; /* Tamaño de fuente */
    color: #ffffff; /* Color del texto */
}

.slide img {
    width: 300px; /* Tamaño fijo para el ancho de la imagen */
    height: 200px; /* Tamaño fijo para la altura de la imagen */
    object-fit: cover; /* La imagen se ajustará dentro del contenedor sin perder la proporción, recortando si es necesario */
    border-radius: 3%;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5); /* Color de fondo semi-transparente */
    border: none;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    padding: 10px; /* Añade espacio alrededor del botón */
    border-radius: 30%; /* Hace que el botón sea redondeado */
    transition: background-color 0.3s ease; /* Añade una transición suave al color de fondo */
}

.prev-button:hover,
.next-button:hover {
    background-color: rgba(255, 255, 255, 0.7); /* Cambia el color de fondo al pasar el cursor */
}


.prev-button {
    left: 10px; /* Alinea el botón izquierdo */
}

.next-button {
    right: 10px; /* Alinea el botón derecho */
}

.contenido ul li {
    line-height: 1.5; 
}

.indice ul li a {
    color: #fff;
    text-decoration: none; /* Elimina el subrayado */
    transition: color 0.3s ease; /* Transición suave para el color del texto */
}

.indice ul li a:hover {
    color: #1a74b1; /* Cambia el color del texto al pasar el cursor */
    text-decoration: none; /* Elimina el subrayado al pasar el cursor */

}

.contenido-conocenos {
    background-color: #f9f9f9b9;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}



.page-title {
    text-align: center;
    margin-bottom: 30px;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.form-label {
    width: 150px; /* Ancho deseado para los labels */
}
.form-input {
    width: 100%; /* Ancho completo para los campos de entrada */
    padding: 8px; /* Ajustar el relleno */
    margin-bottom: 10px; /* Espacio inferior entre los campos */
}
.form-group {
    margin-bottom: 20px; /* Espacio inferior entre los grupos de formulario */
}
/* Estilo específico para el campo de descripción */
#descripcion {
    height: 350px; /* Altura deseada para el campo de descripción */
}

textarea.form-input {
    height: 150px;
}

.btn-submit {
    background-color: #1a74b1;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-submit:hover {
    background-color: #155d8a;
}

/* Estilos del pie de página */
.footer {
    background-color: #232931;
    color: #fff;
    padding: 20px 0;
}

@media screen and (max-width: 768px) {
    .container {
        width: 95%; /* Ajusta el ancho para dispositivos móviles */
    }

    header .container {
        flex-direction: column; /* Cambia a columna para dispositivos móviles */
        align-items: center; /* Centra horizontalmente en dispositivos móviles */
    }

    nav ul li {
        display: block;
        margin-left: 0;
    }

    main {
        padding-top: 50px; /* Ajusta el espacio de relleno para el header fijo */
    }
    .block {
        width: calc(100% - 40px); /* Ajusta el ancho */
    }

    .block .image {
        width: 100%; /* Ajusta la imagen al ancho del contenedor */
        margin-right: 0; /* Elimina el margen derecho */
    }
    .contenedor-principal {
        margin-top: 0; /* Elimina el margen superior */
        margin-left: 0;
        width: 100%; /* Ajusta la imagen al ancho del contenedor */

    }

    .indice {
        display: none; /* Oculta el índice en dispositivos móviles */
    }

    .slide {
        scroll-snap-align: center; /* Centra los slides en dispositivos móviles */
    }
}